
@import '../../variables.css';

.footer {
  background-color:var(--bg-footer);
  color: var(--text-color-bg);
  padding-top: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  
}
.footer-link{
  color: var(--text-color-bg);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.footer-links {
  display: flex;
  gap: 20px;
  margin-top: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-link {
  text-decoration: none;
  color: var(--text-colors);
  transition: color 0.3s, transform 0.3s;
}

.footer-link:hover {
  color: var(--primary-blue);
  transform: scale(1.1);
}

.footer-divider {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid black;
  width: 100%;
}

.footer-copyright {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.footer-copyright-link {
  text-decoration: none;
  color: var(--text-color-);
  font-weight: bold;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: -5vh;
}

.footer-icon {
  color: var(--text-color);
  font-size: 1.8rem;
  transition: color 0.3s, transform 0.3s;
}

.footer-icon:hover {
  color: var(--primary-blue);
  transform: scale(1.2);
}
