/* App.css */
@import './Variables.css';

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App-content {
  margin-top: 10vh;
  flex: 1;
  min-height: 85vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.loader img {
  height: 150px;
  width: 150px;
}

@media (max-width: 960px) {
  .loader img {
    height: 120px;
    width: 120px;
  }
  .App-content {
   
    min-height: 92vh;
  }
}

/* footer.css */
.footer {
  background-color: var(--primary-grey);
  color: var(--text-color);
  padding: 40px 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 20px;
}

.footer-logo {
  height: 50px;
  margin-right: 15px;
}

.footer-name {
  font-size: 1.8rem;
  font-weight: bold;
}

.footer-links {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-link {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.3s, transform 0.3s;
}

.footer-link:hover {
  color: var(--primary-blue);
  transform: scale(1.1);
}

.footer-divider {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #343a40;
  width: 80%;
}

.footer-copyright {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.footer-copyright-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icon {
  color: var(--text-color);
  font-size: 1.8rem;
  transition: color 0.3s, transform 0.3s;
}

.footer-icon:hover {
  color: var(--primary-blue);
  transform: scale(1.2);
}
